config TOUCHIRQ_UPDATE_QOS
    bool "OPLUS touchpanel driver update qos"
    help
      Say Y here if you want to update qos value in irq handler.


config TOUCHPANEL_OPLUS
    tristate "OPLUS tp module"
    help
      Say Y here if you have touchscreen build into driver.
      Say M here if you have touchscreen as module.

config TOUCHPANEL_SYNAPTICS
    tristate "TP Synaptics_IC enable or not for OPLUS"
    help
    Say Y to enable driver for Touchpanel using Synaptics_IC
    Say M to enable driver for Touchpanel using Synaptics_IC as module.

if TOUCHPANEL_SYNAPTICS
source "drivers/input/touchscreen/oplus/oplus_touchscreen_v2/Synaptics/Kconfig"
endif
